@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Subscribe to Notifications</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le styles -->
    <link href="/Scripts/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="/Scripts/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
</head>
    <body>
        <div class="container">
        <img src="/Images/eloqua-logo.png" alt="Eloqua Concierge" width="250px" />
        <legend>Subscribe to Notifications</legend>
        <div>Receive notifications when this contact performs the following actions<br/> &nbsp;</div>
        <div>
            <fieldset>
                <select id="MovieType"  name="MovieType">

                    <option value=""></option>

                    <option value="0">Opens an Email</option>

                    <option value="1">Visits a Landing Page</option>

                    <option selected="selected" value="2">Submits a Form</option>

                    <option value="3">Any Activity</option>

                </select>
                <p>
                <p>
                    <input type="submit" class="btn-large" value="Submit" />
                </p>

            </fieldset>
        </div>
            </div>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

        <script type="text/javascript" src="/Scripts/bootstrap/bootstrap.js"></script>
        
    <script src="/Scripts/bootstrap/bootstrap-alert.js"></script>
    <script src="/Scripts/bootstrap/bootstrap-modal.js"></script>
    <script src="/Scripts/bootstrap/bootstrap-dropdown.js"></script>
    <script src="/Scripts/bootstrap/bootstrap-tab.js"></script>
    <script src="/Scripts/bootstrap/bootstrap-tooltip.js"></script>
    <script src="/Scripts/bootstrap/bootstrap-popover.js"></script>
    <script src="/Scripts/bootstrap/bootstrap-collapse.js"></script>
    <script src="/Scripts/bootstrap/bootstrap-typeahead.js"></script>
    </body>
</html>
