@{
    ViewBag.Title = "Eloqua Concierge";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p> The term "concierge" evolved from the French Comte Des Cierges, The Keeper of the Candles, who tended to visiting nobles in castles of the medieval era.[citation needed] In medieval times, the concierge was an officer of the King who was charged with executing justice, with the help of his bailiffs.[citation needed] Later on in the 18th Century, The Concierge was a high official of the kingdom, appointed by the king to maintain order and oversee the police and prisoner records.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Eloqua Concierge gives you a powerful way to ...
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

</ol>
